<div class="modal fade" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">IT 01-3</h5>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        @if (person) {
          <div class="mb-3">
            <label class="form-label fw-bold">ชื่อ สกุล</label>
            <p class="form-control-plaintext">{{ person.name }} {{ person.surname }}</p>
          </div>
          
          <div class="mb-3">
            <label class="form-label fw-bold">วันเกิด</label>
            <p class="form-control-plaintext">{{ person.birthDate }}</p>
          </div>
          
          <div class="mb-3">
            <label class="form-label fw-bold">อายุ</label>
            <p class="form-control-plaintext">{{ person.age }} </p>
          </div>
          
          <div class="mb-3">
            <label class="form-label fw-bold">ที่อยู่</label>
            <p class="form-control-plaintext">{{ person.address }}</p>
          </div>
        } @else {
          <p></p>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">ปิด</button>
      </div>
    </div>
  </div>
</div>

@if (showModal) {
  <div class="modal-backdrop fade" [class.show]="showModal"></div>
}
